:root{
    --apx_product_list_height  : 300px;
}
body{font-family:Montserrat;}
.header__nav{text-align:left;}

.top-bar__countdown{
    font-size:16px;
    font-weight:500;
    letter-spacing:2px;
    text-transform:uppercase;
    padding:1.1rem;
}

.header{
    background:#bc755c;
    box-shadow: none;
    border: 0;
    padding: 1.6rem 0;
}
.header__row{align-items:flex-end}
.header__nav a{
    color:#fff;
    font-size: 16px;
    text-transform: initial;
    margin-right: 2.5rem;
    letter-spacing: 1px;
}
.header__nav a:hover{background:transparent;}
.header .svg-ico svg{height:30px;width:auto;}
.header__buttons .btn{padding:0;margin-left:3rem;}
.header__buttons #cart-button{position:relative;}
.header__buttons #cart-button #cart-count{
    background: transparent;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 4px;
    width: 100%;
    text-align: center;
    font-size: .7rem;
}

#page-home .sections .responsive-baner:first-child{margin-top:0;}
#page-home .sections .banners-grid:nth-child(2){margin-top:2rem;}
#page-home .sections .responsive-baner:first-child .container-fluid{padding:0;}
#page-home .sections .banners-grid:nth-child(2) .container-fluid{padding:0;}

.sections .container,
.header__container,
.products-carousel{
    max-width: 90%;
    padding-left: 0;
    padding-right: 0;
}
.products-carousel__title{padding:0;}
.products-carousel__title:before{display:none;}
.apx-title{
    font-size:24px;
    letter-spacing:4px;
    font-weight:normal;
    color:#212121;
    text-align:center;
    display:block;
    margin-bottom:2.5rem;
    margin-top:4rem;

}
.apx-title small{
    font-size:12px;
    letter-spacing:1px;
    display:block;
    margin-bottom:15px;
}
.product-card__picture img,
.product-card__pictures{
    height: var(--apx_product_list_height);
    max-height: var(--apx_product_list_height);
}
.product-card a,
.product-card:hover a{text-decoration:none;}
.product-card,
.product-card:hover{padding:0;box-shadow:unset;}
.product-card__pictures{margin-bottom:1rem;}
.product-card__name{font-size:14px;height:auto;}
.product-card .product-card__buy{display:none!important;}
.prices__compare{margin-right:.2rem;color:#868686;letter-spacing:2px;font-size:12px;}
.prices__value{display:inline-block;font-size:16px;letter-spacing:2px;}
.product-card__offer-stamp{    
    background-color: #212121;
    top: 5px;
    right: 5px;
}
.product-card__offer-stamp i, .product-card__offer-stamp svg{opacity:1}

//instagram
.apx_instafeed{margin-bottom:5rem;}
.apx_instafeed a{position:relative;display:block;}
.apx_instafeed a:hover img{opacity:.5}
.apx_instafeed a img{max-width:100%;transition:all .2s;}
.apx_instafeed a:hover span{opacity:1}
.apx_instafeed a span{
    padding: 2rem;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    font-size: 12px;
    color: #000;
    font-weight: 600;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 80%;
    box-shadow: 0px 0px 30px rgba(0,0,0,.2);
    opacity:0;    
    transition:all .2s;
}

.text-center{text-align:center;}
.apx_stripe{padding:5rem 0}
.apx_stripe b{font-size:18px;font-weight:500;margin-top:1rem;display:block;}
.apx_stripe span{font-size:14px;}
.glide__slides{margin-bottom:0;}

.apx_newsletter{padding: 4rem 0 5rem 0;}
.apx_newsletter .footer__social{}
.apx_newsletter .footer__social a{opacity:1;font-size:26px;margin-right:1.5em}
.apx_newsletter .footer__social a i{opacity:1;font-size:26px;}

.apx_newsletter p{font-size:14px;font-weight:400;max-width:200px;}
.apx_newsletter form{}
.apx_newsletter form input[type="text"],
.apx_newsletter form input[type="email"],
.apx_newsletter form input[type="submit"]{
    background:#F7F7F7;
    border:0;
    color:#868686;
    font-size:14px;
    max-height:60px;
    padding:15px;
    border-radius:3px;
    text-transform:lowercase;
}
.apx_newsletter form input[type="submit"]{
    background:#212121;
    color:#fff;
    letter-spacing:1px;
    padding-left:2rem;
    padding-right:2rem;
}
.justify-content-between{justify-content: space-between;}
.align-items-center{align-items:center;}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1230px;
    }
}


.footer{
    border:0;
    background:#F7F7F7;
}
.footer .footer__title{
    text-transform:uppercase;
    font-size:16px;
    font-weight:600;
    color:#212121;
    margin-bottom:15px;
}
.footer__contacts address,
.footer__contacts .fab,
.footer__list-icon,
.footer__links .fas{display:none!important;}
.footer__contacts a,
.footer__links a{font-size:16px;color:#212121;display:inline-block;margin-bottom:10px;font-weight:400;}

.footer .bg-footer{
    background:#BC755C;
    padding:5rem 0;
}
.footer .bg-footer *{color:#fff;font-size:12px;line-height:18px;}
.footer .bg-footer span{display:block;}
.footer__payment-methods{margin-bottom:0;}
.footer__payment-methods i{
    background-color: #fff;
    border-radius: 3px;
}

.bg-footer .copy img,
.bg-footer .copy svg{
    height:22px;
    filter: brightness(0) invert(1);
}

.text-right{text-align:right;}

body > iframe{display:none;}
.footer__contacts{max-width:unset;}

.apx_look .container{
    max-width: 1000px;
    margin: 0 auto;
}

.apx_look{
    background:#F7F7F7;
    padding:1rem 0 7rem 0;
    margin-bottom:6rem;
    margin-top:6rem;
}
.apx_look .kit-cover{}
.apx_look .kit-cover picture{height:100%}
.apx_look .kit-cover picture,
.apx_look .kit-cover img{
    width:100%;
    display:block;
}
.apx_look .kit-cover img{
    height: 100%;
    object-fit: cover;
}
.apx_look .kit-items .col-7 > strong{font-weight:normal;font-size:14px;display:block;margin-bottom:.5rem;}
.apx_look .kit-items .col-7 > span{font-size:12px;color:#868686;display:block;}
.apx_look .kit-items .col-7 > span > strong{font-weight:500;font-size:16px;letter-spacing:2px;color:#212121;}
.apx_look .kit-items .col-7 > span > span{}
.apx_look .kit-items .col-7 > small{}

.apx_look .kit-items picture,
.apx_look .kit-items picture img{max-width:100%;}

#page-products .product__name{
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0 0 1em 0;
}

#page-products #product .product__info{
    font-size: 14px;
    color: #000;
    margin: 2em 0;
}

.variations__grid-title,
.shipping-calculator__form > div > label{font-size:16px;letter-spacing:1.5px;text-transform:uppercase;font-weight:600;}
#product .variations__value--empty,
#product .variations__value{
    font-size: 12px;
    color: #212121;
}
.variations__option.variations__option--selected{
    background:#212121!important;
    color:#fff!important;    
}
.variations__option{
    background: #fff!important;
    border: 1px solid #212121!important;
    font-size: 14px!important;
    color: #212121!important;
    text-transform: lowercase;
    letter-spacing: 1px;
    padding: 0 1em;
    height: 30px!important;
    min-height: 0!important;
    margin-top:5px;
    box-shadow:unset!important;
}

.shipping-calculator [type="tel"]{
    background:#F7F7F7;
    border:0;
    margin-right:1em;
    border-radius:5px!important;
    font-size:14px;
    height:40px;
    letter-spacing:1px;
}
.shipping-calculator [type="submit"] {
    background:#212121;
    color:#fff;
    font-size:14px;
    border-radius:5px!important;
    padding:0 3em;
    letter-spacing:2px;

}
.shipping-calculator [type="submit"] > i{display:none}
.shipping-calculator [type="submit"]:before{content:"calcular"}

#product .prices__compare{display:block;    margin-bottom: .5em;}
#product .prices--literal small{display:none}
.prices--big .prices__value{font-size:24px;font-weight:600;letter-spacing:2px;color:#212121}
.product__short-stock,
#product .product__discount{display:none;}

#product .product__buy span > button{
    text-transform:uppercase;
    font-size:18px;
    border-radius:5px;
    background:#212121;
    font-weight:600;
    letter-spacing:2px;
    border:0;
    height:60px;
    width:100%;
}
.product__buy .apx_quantity_selector{position:relative;}
.product__buy .apx_quantity_selector button:last-child{left:auto; right:0;}
.product__buy .apx_quantity_selector button{
    height:60px;width:40px;
    background:transparent;
    position:absolute;
    top:0;
    border:0;
    left:0;
    z-index:2;
    text-align:center
}
.product__buy .apx_quantity_selector input{
    width: 180px;
    height: 60px;
    background: #f7f7f7;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 0;
    text-align: center;
    pointer-events: none;
}

.product__buy{display:flex;margin:2em 0}
.product__buy > span{    
    width: 100%;
    padding-left: 1em;
}

#product-description .lead{font-size:16px;color:#212121;font-weight:600;text-transform:uppercase;margin:0;}
#product-description .lead a{display:none;}
#product-description .lead + .html-clearfix{margin:0;}

#product-description .html-clearfix table.table{border:1px solid #f7f7f7!important;}
#product-description .html-clearfix table.table  tr{border:0;background:#fff;}
#product-description .html-clearfix table.table  tr > td{border:0!important;background:#fff!important;    vertical-align: middle;padding-top:1.5em;padding-bottom:1.5em;}
#product-description .html-clearfix table.table  tr > td,
#product-description .html-clearfix table.table  tr > td *{font-size:14px!important;color:#000;line-height:24px;margin:0;}
#product-description .html-clearfix table.table  tr:nth-child(even) > td{background:#f7f7f7!important;}

#product-gallery picture{border-radius:5px!important;}
#product-gallery .gallery{
    flex-wrap:wrap;
}
#product-gallery .gallery .gallery__stage{
    width:100%;
    margin-bottom:1.5em;
    min-width:100%;
}
#product-gallery .gallery .gallery__thumbs{
    order:2;
    width:100%;
    min-width: 100%;
    display:flex;
    margin:0 -2rem;
}
#product-gallery .gallery .gallery__thumbs .gallery__item:first-child{margin-left:0;}
#product-gallery .gallery .gallery__thumbs .gallery__item:last-child{margin-right:0;}
#product-gallery .gallery .gallery__thumbs .gallery__item{
    margin:0 1rem
}
.gallery__thumb, .gallery__thumb img{
    height:auto!important;
}

body:not(#page-home) #content .sections .container{width:1230px;}
body:not(#page-home) #content .products-carousel{width:1260px;margin-left:auto;margin-right:auto;}

.breadcrumb{position:relative;margin-top:0;margin-bottom:4rem;padding:.7rem 0;}
.breadcrumb,
.breadcrumb *{background:transparent; color:#212121;font-size:14px;}
.breadcrumb:before{
    height: 100%;
    width: 100vw;
    left: calc(50% - 50vw);
    background: #f7f7f7;
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
}
.breadcrumb-item+.breadcrumb-item:before{content:">"}

.container.for-breadcrumbs{
    max-width: 90%!important;
    width:100%!important;
    padding-left: 0;
    padding-right: 0;
}

.apx-discount__rule{
    color:#212121;
    font-size:14px;
    margin-top:7px;
}

@media(min-width:990px){
    .recommended-products .list-unstyled > li:nth-child(n+4){display:none}
}

/* CHECKOUT */
.app .checkout__info{
    background: transparent;
    border: 0;
}
.app .checkout__summary,
#cart .cart__info{
    padding: 2rem;
    margin: 0;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    border-radius: .6rem;
    height: auto;
    position: sticky;
    top: 15px;
    background:transparent
}
.checkout__summary .summary__title,
.checkout__app .summary__buyer h5,
#cart .cart__info [for="shipping-calculator-zip"]{
    font-weight:600;
}
.checkout__app .summary__buyer p,
.checkout__app .summary__buyer p *{font-size:12px}
.checkout__app .summary__buyer p small{font-weight:600;}
.checkout__summary .summary__list .summary__item > div{font-size:11px;}
.checkout__summary .summary__list .summary__item > div > a{margin-top:5px;display:block;}
.checkout__summary .summary__list .summary__item > div > a,
.checkout__summary .summary__list .summary__item > div > a > small{font-size:12px;font-weight:600;}
.checkout__summary .summary__list .summary__item > div > .badge{font-size:11px;background:transparent;color:var(--body-color);padding:0;font-weight:normal;margin-right:10px;}
.checkout__summary .summary__list .summary__item > div > .badge:after{content:"x";}
.checkout__summary .summary__amount > .summary__amount__row{
    font-size: 14px;
    border-bottom: 1px solid #ececec;
    padding: 5px 0 10px 0;
}
#checkout .checkout .form-control{
    border: .1rem solid #e1e1e1;
    padding: 1.2rem;
    border-radius: .3rem;
    font-size: .8rem;
}
#checkout .checkout .form-control + .input-group-append{
    border-radius: 0 .3rem .3rem 0;
}
#checkout .checkout .form-row > .form-group{
    width: 100%;
    min-width: 100%;
}
#checkout .checkout .form-group label{
    font-size: .8rem;
    font-weight: 500;
}
#checkout .checkout .input-group .btn{
    line-height: normal;
    font-size: .8rem;
    border-radius: .3rem;
    margin-left:1rem;
}
#spa #storefront-app h1:before{display:none;}
#spa #storefront-app h1{}

#checkout .checkout .login{max-width:100%; width:550px;}

#checkout .checkout .login .h4,
#checkout .checkout .checkout__account > p.lead{
    font-size: 1rem;
    margin-bottom: 1rem;
}
#checkout .checkout .checkout__account > p.lead{
    border-bottom: 2px solid var(--body-color);
    padding-bottom: 1rem;
}
#checkout .checkout .checkout__account > p.lead + form{
    padding:1rem;    
}
#checkout .checkout .login__confirm{
    background: #f8f9fa;
    margin: 2rem 0rem!important;
    padding: 2rem;
    max-width: unset;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    border-radius: .6rem;
}
#checkout .checkout .login__confirm .lead{font-size:.8rem;margin-bottom:1rem;}
#checkout .checkout .login__oauth{margin-top:3rem;}
#checkout .checkout .login__oauth .lead{font-size:1rem;}
#checkout .checkout .login__info{display:none;}
.app__footer{display:none}
.app__header{
    background: transparent;
    box-shadow: unset;
}
.app footer,
.app__credits{background:transparent}
.app__credits *{
    color:var(--body-color);
    font-size:12px;
}
.app__header{
    border-bottom: solid .1rem #e1e1e1;
}
.app footer{
    border-top: solid .1rem #e1e1e1;
}
.app .ecom-credits a{font-size:0;}

.app .checkout__back > a,
.checkout__app .summary__buyer button,
.checkout__account button,
.checkout .account-addresses button[type="submit"],
.checkout .checkout__btn-proceed,
.checkout .account-addresses__card + .btn-outline-secondary,
.discount-applier .discount-applier__coupon-btn,
.checkout .payment .payment__method > form > button.btn-success,
.checkout .payment .payment__method > button,
.cart__info > .btn{
    width: 100%;
    text-align: center;
    border-radius: 0.3rem;
    text-transform: uppercase;
    line-height: 2rem;
}
.checkout .checkout__btn-proceed{margin-top:1rem;}
.checkout .checkout__btn-proceed i,
.checkout .account-addresses button[type="submit"] i{display:none}
.app__header .app__contact,
.app__header .app__safe{font-size:12px;}

.checkout__app .checkout__steps{
    max-width: 80%;
    margin: 0 auto 2rem auto;
}
.checkout__app .checkout__steps .checkout__step{
    border-bottom:3px solid var(--body-color);
    text-transform:initial;
    padding:1rem;
    font-weight:600;
    position:relative;
}
.checkout__app .checkout__steps .checkout__step .fa-arrow-left{display:none}
.checkout__app .checkout__steps .checkout__step:before{
    content: "";
    height: 16px;
    width: 16px;
    position: absolute;
    background: var(--body-color);
    border-radius: 50%;
    left: calc(50% - 8px);
    bottom: -9px;
}
.checkout__app .checkout__steps .checkout__step *{color:var(--body-color);opacity:1;}
.checkout__app .checkout__steps .checkout__step small{display:none}
.checkout__app .checkout__steps .checkout__step--past,
.checkout__app .checkout__steps .checkout__step--current{color:var(--body-color)}
.checkout__app .checkout__steps .checkout__step--disabled:before{background: #e1e1e1;}
.checkout__app .checkout__steps .checkout__step--disabled{border-color:#e1e1e1}

.checkout .payment .list-group > a{
    margin-bottom: 1rem;
    border-radius: .3rem;
    border: 1px solid #e1e1e1;
    padding: 1.5rem;
}
.checkout .payment .list-group > a .payment__head{
    margin: -1.5rem -1.5rem 1rem -1.5rem;
    padding: 1rem 1.5rem;
    border-radius: .3rem .3rem 0 0;
}
.checkout .payment .list-group > a:hover .payment__head{
    background: var(--body-color);
    color: var(--body-bg);
}

.checkout .payment .payment__method{
    border: 0;
    border-radius: .3rem;
    background:#f9f9f9
}

.list-group-item.active{
    color: var(--body-color);
    background-color: #f9f9f9;
    border:0;
}

.cart .cart__list{}
.cart .cart__list .cart-item:first-child{border-top:0}
.cart .cart__list .cart-item{
    border-bottom:1px solid #e1e1e1;
    padding:1rem 0;
    margin:0;
}
.cart .cart__list .cart-item__name,
.cart .cart__list .cart-item__name a{
    font-size:1rem;
    font-weight:600;
    text-decoration:none;
}
.cart .cart__list .cart-item__quantity{}
.cart .cart__list .cart-item__prices{font-weight:600}
.cart .cart__list .cart-item__prices .cart-item__price-un{}

.app__header{
    background: #bc755c;
    padding: 1.6rem 0;
    border-bottom:0;
}
.app__contact,
.app__contact span:not(:first-child),
.app__header .app__contact, .app__header .app__safe,
.app__safe-icon{color:#fff;}
.app__contact span:not(:last-child){margin-right:5px;}

.app__header .app__contact, .app__header .app__safe {
    font-size: 14px;
    line-height: 32px;
}
.product-card .prices__value .prices__installments:before{content:"ou"}
.product-card .prices__value .prices__installments{
    font-size: 12px;
    letter-spacing: 0;
    display: inline-block;
}
.product-card .prices__compare{display:block;margin-bottom:5px;}

.minicart__subtotal .prices__installments{
    display:block;
    letter-spacing:0;
    font-size:12px;
    margin-top:5px;
}

.list-inline{display:flex;margin:0;align-items:baseline;}
.list-inline{}
.product__payment.card{display:none;}
#product .prices__installments:before{content:"ou "!important}
#product .prices__installments{
    font-size: 14px;
    margin-top: 5px;
    font-weight: normal;
    letter-spacing: 0;
}

.header__buttons .btn:first-child{margin:0}

.apx_form{}
.apx_form label{
    font-size:14px;
    display:block;
    color:#212121
}
.apx_form input,
.apx_form textarea{
    min-height:60px;
    width:100%;
    display:block;
    margin-bottom:1rem;
    border-radius:3px;
    border:1px solid #212121;
    padding:.5rem;
}
.apx_form button{
    background: #212121;
    color: #fff;
    letter-spacing: 1px;
    padding-left: 2rem;
    padding-right: 2rem;
    border:0;
    border-radius:3px;
    min-height:60px;
    text-transform:lowercase;

}

.extra-page .md-content h3{font-size:16px;letter-spacing:1px;margin:2rem 0 1rem 0;}
.extra-page .md-content p{font-size:14px;margin:0;line-height:36px;}

.page-title.container{margin-bottom:0;margin-top:0;}
.page-title.container h1{font-size:24px;letter-spacing:1px;}

.apx_sidebar{}
.apx_sidebar h4{font-size:24px;margin:0 0 1rem 0;letter-spacing:1px;}
.apx_sidebar ul{margin-bottom:3rem;}
.apx_sidebar ul li a{font-size:16px;margin:.5rem 0}
.apx_sidebar ul li a:before{
    content: "";
    border-top: 1px solid #212121;
    border-right: 1px solid #212121;
    height: 7px;
    width: 7px;
    display: inline-block;
    transform: rotate(45deg);
    margin: -2px 10px 0 0;
    vertical-align: middle;
}

#page-categories .page-title__head h1{
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    text-align: center;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header__nav > ul > li:nth-child(3) > a,
.header__nav > ul > li:nth-child(4) > a{
    font-weight:600;
}
@media(max-width:990px){
    .top-bar__countdown{
        font-size: 11px;
        letter-spacing: 0;
        padding: .5rem 0;
    }
    .logo_svg svg{
        height: 30px;
        width: auto;
    }
    .header__buttons .btn:first-child{margin:0}
    .header__buttons .btn{margin-left:1rem}
    .header .svg-ico svg{height:22px;}
    .header #cart-button .svg-ico svg{height:24px;}
    .header__buttons #cart-button #cart-count{
        padding: 0;
        bottom: 5px;
        font-size: 10px;
    }
    .header__row{min-height:0;}
    .header{
        padding: 15px 15px 15px 10px;
    }
    #page-home .sections .responsive-baner:first-child{margin-bottom:0}
    #page-home .sections .banners-grid:nth-child(2){margin-top:1rem;}
    .products-carousel{max-width:100%;}

    .row.list-unstyled{margin:0 -10px;}
    .row.list-unstyled > li{padding:0 5px}
    .product-card .apx-discount__rule{font-size:11px;}
    .product-card__name{padding:0}
    .apx-title{font-size:20px;letter-spacing:3px;margin: 1rem 0 2rem 0;}

    .apx_look .kit-items .col-7>strong{font-size:12px;}
    .apx_look .kit-items .col-7>span>strong{display:block;}
    .apx_look{padding:1rem 0;    margin: 2rem 0;}
    
    .apx_instafeed > div:nth-child(n+5){display:none;}
    .apx_instafeed{margin-bottom:0;}
    .apx_stripe{padding:2rem 0;}

    .apx_newsletter{
        padding: 2rem 1rem 1rem 1rem;
    }
    .apx_newsletter a,
    .apx_newsletter div{justify-content:center!important;text-align:center;}
    .apx_newsletter .footer__social a{margin:0 .7rem;}
    .apx_newsletter input{width:100%;
    }

    .footer .bg-footer{padding:2rem 0;}
    .footer__contacts a, .footer__links a{font-size:12px;}
    .footer .footer__title{border:0;}
    .footer__title:after{display:none;}
    .footer .footer__title + .collapse{display:block!important}

    .copy{margin-top:2rem;}
    .footer .bg-footer,
    .copy,
    .copy *{justify-content:center!important;text-align:center!important;}
    
    .product__buy{flex-wrap: wrap;}
    
    .product__buy .apx_quantity_selector,
    .product__buy .apx_quantity_selector input{width:100%;}
    .product__buy>span{padding-left:0;margin-top:1rem;}
    
    .header__toggler{padding:0}
    .header__toggler,
    .header__toggler i{color:#fff;opacity:1}

    .header__nav{margin: 2rem -.7rem -1rem -.7rem;}
    .header__nav > ul{display:block;}
    .header__nav > ul > li{margin:1rem 0;}
    
    #page-categories .page-title__head h1{margin-top:2rem;font-size:24px;}
    
}
