:root{
    --apx_product_list_height  : 300px;
}
body{font-family:Montserrat;}
.header__nav{text-align:left;}

.top-bar__countdown{
    font-size:16px;
    font-weight:500;
    letter-spacing:2px;
    text-transform:uppercase;
    padding:1.1rem;
}

.header{
    background:#bc755c;
    box-shadow: none;
    border: 0;
    padding: 1.6rem 0;
}
.header__row{align-items:flex-end}
.header__nav a{
    color:#fff;
    font-size: 16px;
    text-transform: initial;
    margin-right: 2.5rem;
    letter-spacing: 1px;
}
.header__nav a:hover{background:transparent;}
.header .svg-ico svg{height:30px;width:auto;}
.header__buttons .btn{padding:0;margin-left:3rem;}
.header__buttons #cart-button{position:relative;}
.header__buttons #cart-button #cart-count{
    background: transparent;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 4px;
    width: 100%;
    text-align: center;
    font-size: .7rem;
}

#page-home .sections .responsive-baner:first-child{margin-top:0;}
#page-home .sections .banners-grid:nth-child(2){margin-top:2rem;}
#page-home .sections .responsive-baner:first-child .container-fluid{padding:0;}
#page-home .sections .banners-grid:nth-child(2) .container-fluid{padding:0;}

.sections .container,
.header__container,
.products-carousel{
    max-width: 90%;
    padding-left: 0;
    padding-right: 0;
}
.products-carousel__title{padding:0;}
.products-carousel__title:before{display:none;}
.apx-title{
    font-size:24px;
    letter-spacing:4px;
    font-weight:normal;
    color:#212121;
    text-align:center;
    display:block;
    margin-bottom:2.5rem;
    margin-top:4rem;

}
.apx-title small{
    font-size:12px;
    letter-spacing:1px;
    display:block;
    margin-bottom:15px;
}
.product-card__picture img,
.product-card__pictures{
    height: var(--apx_product_list_height);
    max-height: var(--apx_product_list_height);
}
.product-card a,
.product-card:hover a{text-decoration:none;}
.product-card,
.product-card:hover{padding:0;box-shadow:unset;}
.product-card__pictures{margin-bottom:1rem;}
.product-card__name{font-size:14px;height:auto;}
.product-card .product-card__buy{display:none!important;}
.prices__compare{margin-right:.2rem;color:#868686;letter-spacing:2px;}
.prices__value{display:inline-block;font-size:16px;letter-spacing:2px;}
.product-card__offer-stamp{    
    background-color: #212121;
    top: 5px;
    right: 5px;
}
.product-card__offer-stamp i, .product-card__offer-stamp svg{opacity:1}

//instagram
.apx_instafeed{margin-bottom:5rem;}
.apx_instafeed a{position:relative;display:block;}
.apx_instafeed a:hover img{opacity:.5}
.apx_instafeed a img{max-width:100%;transition:all .2s;}
.apx_instafeed a:hover span{opacity:1}
.apx_instafeed a span{
    padding: 2rem;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    font-size: 12px;
    color: #000;
    font-weight: 600;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 80%;
    box-shadow: 0px 0px 30px rgba(0,0,0,.2);
    opacity:0;    
    transition:all .2s;
}

.text-center{text-align:center;}
.apx_stripe{padding:5rem 0}
.apx_stripe b{font-size:18px;font-weight:500;margin-top:1rem;display:block;}
.apx_stripe span{font-size:14px;}
.glide__slides{margin-bottom:0;}

.apx_newsletter{padding: 4rem 0 5rem 0;}
.apx_newsletter .footer__social{}
.apx_newsletter .footer__social a{opacity:1;font-size:26px;margin-right:1.5em}
.apx_newsletter .footer__social a i{opacity:1;font-size:26px;}

.apx_newsletter p{font-size:14px;font-weight:400;max-width:200px;}
.apx_newsletter form{}
.apx_newsletter form input[type="text"],
.apx_newsletter form input[type="email"],
.apx_newsletter form input[type="submit"]{
    background:#F7F7F7;
    border:0;
    color:#868686;
    font-size:14px;
    max-height:60px;
    padding:15px;
    border-radius:3px;
    text-transform:lowercase;
}
.apx_newsletter form input[type="submit"]{
    background:#212121;
    color:#fff;
    letter-spacing:1px;
    padding-left:2rem;
    padding-right:2rem;
}
.justify-content-between{justify-content: space-between;}
.align-items-center{align-items:center;}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1230px;
    }
}


.footer{
    border:0;
    background:#F7F7F7;
}
.footer .footer__title{
    text-transform:uppercase;
    font-size:16px;
    font-weight:600;
    color:#212121;
    margin-bottom:15px;
}
.footer__contacts address,
.footer__contacts .fab,
.footer__list-icon,
.footer__links .fas{display:none!important;}
.footer__contacts a,
.footer__links a{font-size:16px;color:#212121;display:inline-block;margin-bottom:10px;font-weight:400;}

.footer .bg-footer{
    background:#BC755C;
    padding:5rem 0;
}
.footer .bg-footer *{color:#fff;font-size:12px;line-height:18px;}
.footer .bg-footer span{display:block;}
.footer__payment-methods{margin-bottom:0;}
.footer__payment-methods i{
    background-color: #fff;
    border-radius: 3px;
}

.bg-footer .copy img,
.bg-footer .copy svg{
    height:22px;
    filter: brightness(0) invert(1);
}

.text-right{text-align:right;}

body > iframe{display:none;}
.footer__contacts{max-width:unset;}

.apx_look .container{
    max-width: 1000px;
    margin: 0 auto;
}

.apx_look{
    background:#F7F7F7;
    padding:1rem 0 7rem 0;
    margin-bottom:6rem;
    margin-top:6rem;
}
.apx_look .kit-cover{}
.apx_look .kit-cover picture{height:100%}
.apx_look .kit-cover picture,
.apx_look .kit-cover img{
    width:100%;
    display:block;
}
.apx_look .kit-cover img{
    height: 100%;
    object-fit: cover;
}
.apx_look .kit-items .col-7 > strong{font-weight:normal;font-size:14px;display:block;margin-bottom:.5rem;}
.apx_look .kit-items .col-7 > span{font-size:12px;color:#868686;display:block;}
.apx_look .kit-items .col-7 > span > strong{font-weight:500;font-size:16px;letter-spacing:2px;color:#212121;}
.apx_look .kit-items .col-7 > span > span{}
.apx_look .kit-items .col-7 > small{}

.apx_look .kit-items picture,
.apx_look .kit-items picture img{max-width:100%;}

#page-products .product__name{
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0 0 1em 0;
}

#page-products #product .product__info{
    font-size: 14px;
    color: #000;
    margin: 2em 0;
}

.variations__grid-title,
.shipping-calculator__form > div > label{font-size:16px;letter-spacing:1.5px;text-transform:uppercase;font-weight:600;}
#product .variations__value--empty,
#product .variations__value{
    font-size: 12px;
    color: #212121;
}
.variations__option.variations__option--selected{
    background:#212121!important;
    color:#fff!important;    
}
.variations__option{
    background: #fff!important;
    border: 1px solid #212121!important;
    font-size: 14px!important;
    color: #212121!important;
    text-transform: lowercase;
    letter-spacing: 1px;
    padding: 0 1em;
    height: 30px!important;
    min-height: 0!important;
    margin-top:5px;
    box-shadow:unset!important;
}

.shipping-calculator [type="tel"]{
    background:#F7F7F7;
    border:0;
    margin-right:1em;
    border-radius:5px!important;
    font-size:14px;
    height:40px;
    letter-spacing:1px;
}
.shipping-calculator [type="submit"] {
    background:#212121;
    color:#fff;
    font-size:14px;
    border-radius:5px!important;
    padding:0 3em;
    letter-spacing:2px;

}
.shipping-calculator [type="submit"] > i{display:none}
.shipping-calculator [type="submit"]:before{content:"calcular"}

#product .prices__compare{display:block;    margin-bottom: .5em;}
#product .prices--literal small{display:none}
.prices--big .prices__value{font-size:24px;font-weight:600;letter-spacing:2px;color:#212121}
.product__short-stock,
#product .product__discount{display:none;}

#product .product__buy span > button{
    text-transform:uppercase;
    font-size:18px;
    border-radius:5px;
    background:#212121;
    font-weight:600;
    letter-spacing:2px;
    border:0;
    height:60px;
    width:100%;
}
.product__buy .apx_quantity_selector{position:relative;}
.product__buy .apx_quantity_selector button:last-child{left:auto; right:0;}
.product__buy .apx_quantity_selector button{
    height:60px;width:40px;
    background:transparent;
    position:absolute;
    top:0;
    border:0;
    left:0;
    z-index:2;
    text-align:center
}
.product__buy .apx_quantity_selector input{width:180px;height:60px;background:#f7f7f7;font-size:16px;letter-spacing:1px;border-radius:5px;border:0;}

.product__buy{display:flex;margin:2em 0}
.product__buy > span{    
    width: 100%;
    padding-left: 1em;
}

#product-description .lead{font-size:16px;color:#212121;font-weight:600;text-transform:uppercase;margin:0;}
#product-description .lead a{display:none;}
#product-description .lead + .html-clearfix{margin:0;}

#product-description .html-clearfix table.table{border:1px solid #f7f7f7!important;}
#product-description .html-clearfix table.table  tr{border:0;background:#fff;}
#product-description .html-clearfix table.table  tr > td{border:0!important;background:#fff!important;    vertical-align: middle;padding-top:1.5em;padding-bottom:1.5em;}
#product-description .html-clearfix table.table  tr > td,
#product-description .html-clearfix table.table  tr > td *{font-size:14px!important;color:#000;line-height:24px;margin:0;}
#product-description .html-clearfix table.table  tr:nth-child(even) > td{background:#f7f7f7!important;}

#product-gallery picture{border-radius:5px!important;}
#product-gallery .gallery{
    flex-wrap:wrap;
}
#product-gallery .gallery .gallery__stage{
    width:100%;
    margin-bottom:1.5em;
    min-width:100%;
}
#product-gallery .gallery .gallery__thumbs{
    order:2;
    width:100%;
    min-width: 100%;
    display:flex;
    margin:0 -2rem;
}
#product-gallery .gallery .gallery__thumbs .gallery__item:first-child{margin-left:0;}
#product-gallery .gallery .gallery__thumbs .gallery__item:last-child{margin-right:0;}
#product-gallery .gallery .gallery__thumbs .gallery__item{
    margin:0 1rem
}
.gallery__thumb, .gallery__thumb img{
    height:auto!important;
}

body:not(#page-home) #content .sections .container{width:1230px;}
body:not(#page-home) #content .products-carousel{width:1260px;margin-left:auto;margin-right:auto;}

.breadcrumb{position:relative;margin-top:0;margin-bottom:4rem;padding:.7rem 0;}
.breadcrumb,
.breadcrumb *{background:transparent; color:#212121;font-size:14px;}
.breadcrumb:before{
    height: 100%;
    width: 100vw;
    left: calc(50% - 50vw);
    background: #f7f7f7;
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
}
.breadcrumb-item+.breadcrumb-item:before{content:">"}

.container.for-breadcrumbs{
    max-width: 90%!important;
    width:100%!important;
    padding-left: 0;
    padding-right: 0;
}

@media(min-width:990px){
    .recommended-products .list-unstyled > li:nth-child(n+4){display:none}
}